

*{
    
    text-align: center;
    background-color: #e8eef1;
}

#Container{
    
    position: relative;
    text-align: center;
}

#Title{
    
    position: relative;
    top: 40px;
    font-size: 45px;
    color: #21242c;
    
}

.content{
    
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    top:  50px;
    color: #444;
    font-family: Lato, 'Noto Sans', sans-serif !important;

}

#category{
    
   
   
}

#difficulty{
    
 
}


#options{
    
    
    position: relative;
    display: inline;
    top: 55px;
    font-family: Arial;  
    width: 250px;
    height: 100px;
}

#question{
    
    font-size: 20px;
    color: #444;
    width: 450px;
    position: relative;
    display: inline-block;
}

#option1{
    
    
    color: #21242c;
    font-size: 18px;
    background-color: #057DCD;
    border-color:  #057DCD;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
}

#option1:hover{
    
    background-color: #fff;
    border-color:  #fff;
    cursor: pointer;
    
    
}

#option2{
    
    color: #21242c;
    font-size: 18px;
    background-color: #057DCD;
    border-color:  #057DCD;
    margin-bottom: 15px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    
}

#option2:hover{
    
    background-color: #fff;
    border-color:  #fff;
    cursor: pointer;
}

#option3{
    
    color: #21242c;
    font-size: 18px;
    background-color: #057DCD;
    border-color:  #057DCD;
    margin-bottom: 15px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    
}

#option3:hover{
    
    background-color: #fff;
    border-color:  #fff;
    cursor: pointer;
}

#option4{
    
    color: #21242c;
    font-size: 18px;
    background-color: #057DCD;
    border-color:  #057DCD; 
    margin-bottom: 15px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    
}

#option4:hover{
    
    background-color: #fff;
    border-color:  #fff;
    cursor: pointer;
}


#imgHeart{
    
  position: relative;
  display: inline-block;
  left: 5px;
  width: 40px;
  height: 30px;
  background-image: url(heartGery.png);
  background-repeat: no-repeat;
  background-size: contain;
   
}

#imgHeart:hover{
    
  cursor: pointer;
  background-image: url(heartRed.png);

}

#imgHeart:visited{
    
  cursor: pointer;
  background-image: url(heartRed.png);

}
